.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("https://images.pexels.com/photos/45224/pot-kitchen-cook-invitation-45224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  height: 100vh;
}


.logo{
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 85px;
  color: rgba(255, 0, 0, 0.923);
  animation: tada 6s;
}

button{
  width: 150px;
  height: 50px;
  box-shadow: 0px 0px 100px gray;
  color:red;
  background-color: #F1CF7F;
  font-family: 'Playfair Display SC', serif;
}

.page-footer{
  color: red;
}

.users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 130px;
}

.circle:hover{
  box-shadow: 0px 0px 100px black;

}

.userHome{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.primary{
  background-color: rgba(238, 238, 238, 0.81) !important;
  background-image: url('https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 100vh;
  background-position: center;
  background-blend-mode: color;
  /* background-blend-mode: overlay; */
  /* opacity: 0.5; */
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.secondary{
  background-color: rgba(255, 0, 0, 0.897) !important;
}

footer.page-footer .footer-copyright{
  background-color: rgba(255, 0, 0, 0.897);
}

.restaurant{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.restaurants{
  display: flex;
  flex-direction: row;
}

img{
  width:150px;
  height: 150px;
}

h1{
  font-family: 'Playfair Display SC', serif;
}



.buttn:hover{
  box-shadow: 0px 0px 100px black;
}


/*--Circle div css--*/
.block{
  text-align: center;
}
.circle{
  background: red;
  border-radius: 200px;
  color: white;
  height: 200px;
  font-weight: bold;
  width: 200px;
}
.circle span{
display: table-cell;
padding-top:40%;
}

/* 5 star rating cssssss!!!!!!!!!!!!!!!!!! */

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}
/* media querys to make it responsive!!!!!!!!!!! */

@media screen and (max-width: 768px) {
  .primary { width:100%; }
  .secondary { width:50%; margin:0; border:none; }
  img { max-width: 100%; }
}

/* Keyframe Animation for landing page!!!!!!!!!!!!! */

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
