.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("https://images.pexels.com/photos/45224/pot-kitchen-cook-invitation-45224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  height: 100vh;
}


.logo{
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 85px;
  color: rgba(255, 0, 0, 0.923);
  animation: tada 6s;
}

button{
  width: 150px;
  height: 50px;
  color:red;
  background-color: #F1CF7F;
  font-family: 'Playfair Display SC', serif;
}

.users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 130px;
}

.circle:hover{
  box-shadow: 0px 0px 100px black;

}

.userHome{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.restaurant{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

img{
  width:100px;
  height: 100px;
}

h1{
  font-family: 'Playfair Display SC', serif;
}
/*--Circle div css--*/
.block{
  text-align: center;
}
.circle{
  background: red;
  border-radius: 200px;
  color: white;
  height: 200px;
  font-weight: bold;
  width: 200px;
}
.circle span{
display: table-cell;
padding-top:40%;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
